@font-face {
  font-family: 'iconfont';
  /* project id 2065682 */
  src: url('//at.alicdn.com/t/font_2065682_suqezbge8in.eot');
  src: url('//at.alicdn.com/t/font_2065682_suqezbge8in.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2065682_suqezbge8in.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2065682_suqezbge8in.woff') format('woff'),
  url('//at.alicdn.com/t/font_2065682_suqezbge8in.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2065682_suqezbge8in.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontianjia:before {
  content: "\e61a";
}

.iconxuanzeyixuan:before {
  content: "\e63c";
}

.iconweixin:before {
  content: "\e62c";
}

.icontianjiashenfenzheng:before {
  content: "\e8d3";
}

.icontianjiazhengshu:before {
  content: "\e8d0";
}

.icontianjiazhaopian:before {
  content: "\e8d1";
}

.icontianjiashipin:before {
  content: "\e8d2";
}

.iconphone6dianhua:before {
  content: "\e741";
}

.iconicon-test:before {
  content: "\e611";
}

.iconjiaose:before {
  content: "\e676";
}

.iconyoujiantou:before {
  content: "\e649";
}

.icon-jianli:before {
  content: "\e6f2";
}

.icon-dianhua1:before {
  content: "\e8c2";
}
